<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <div>
        <div style="display: flex; justify-content:center; margin:40px">
            <h1>Add Your Meme</h1>
        </div>
        <% if(errors) {%>
            <div style="display: flex; justify-content:center">
              <%errors.split(',').map(el=>{%>
      
                <p style="color:red; margin-right: 5px">
                  <%=el%>
                </p>
      
                <%})%>
            </div>
            <%}%>
        <div class ="form">
            <form action="/meme/add" method="post" enctype="multipart/form-data">
                <div>
                    <label for="">Title</label><br>
                    <input type="text" name="title">
                </div>
                <div>
                    <label for="meme">Meme</label><br>
                    <input type="file" name="imageURL" id="meme" />
                </div>
                <div>
                    <label for="">Tag</label><br>
                    <select name="TagId" id="">
                        <option value="" disabled selected>Select Tag</option>
                        <% tag.forEach(el=> { %>
                            <option value="<%= el.id %>">
                                <%= el.name %>
                            </option>
                            <% }) %>
                    </select>
                </div><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>