<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<%- include('partials/navbar') %>
    <div style="display: flex; justify-content:center">
        <h1>MEME</h1>
    </div>
    <div style="display: flex; justify-content:center">
        Choose your category:
        <form action="/" method="get">
            <button>All</button>
        </form>
        <% tag.forEach(el=> { %>
            <form action="/" method="get">
                <button name="filter" value="<%= el.name %>">
                    <%= el.name %>
                </button>
            </form>
            <% }) %>
    </div>
    <% meme.forEach(el=> { %>
        <div class="card" style="display: flex; justify-content:center">
            <div>
                <h3>
                    <%= el.title %>
                </h3>
                <img src="../uploads/<%= el.imageURL %>" alt="image of meme">
                <div>
                    <span>
                        <%= el.Tag.name %>
                    </span> |
                    <% if (!el.Users.length) { %>
                        <span><a href="meme/<%= el.id %>">Comment</a></span>
                        <% } else { %>
                            <% for (const key in memeDetail) {%>
                                <% if (+key===el.id) { %>
                                    <span>
                                        <%= memeDetail[key] %> <a href="/meme/<%= +key %>">Comments</a>
                                </span>
                            <% } %>
                        <% }%>
                    <% } %>
                    |
                    <span>
                        <a href="/meme/<%= el.id %>/delete"><button>Delete</button></a>
                </span>
                </div>
            </div>
        </div>
        <% }) %>
</body>

</html>