<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<%- include('./partials/home-style') %>
<style>
    .topnav {
      overflow: hidden;
      background-color: #B08B71;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
</style>
<style>
    p.ex3 {
        width: 570px;
        height: 70px;
        overflow: auto;
    }

    div.ex3 {
        width: 100%;
        height: 300px;
        overflow: auto;
    }
</style>
<body>
<%- include('partials/navbar') %>
    <div class="row">
        <div class="card">
            <h1><%= meme.title %></h1>
            <p><a href="/">Back</a></p>
            <div style="display: flex; justify-content:center; margin-bottom: 20px;">
                <img src="../uploads/<%=meme.imageURL %>" alt="image of meme">
            </div>
            <% if (query) { %>
                <% detail.forEach(el => { %>
                    <% if (query === +el.id) { %>
                        <form action="/meme/<%=meme.id %>/edit/<%= el.id%>" method="post">
                            <div>
                                <textarea name="comment" id="" cols="65" rows="2"><%= el.comment %></textarea>
                            </div>
                            <button type="submit">Post Comment</button>
                        </form>
                    <% } %>
                <% }) %>
            <% } else { %>
                <form action="/meme/<%=meme.id %>" method="post">
                    <div>
                        <textarea name="comment" id="" cols="65" rows="2" placeholder="Your comment here..."></textarea>
                    </div>
                    <button type="submit" class="btn3">Post Comment</button>
                </form>
            <% } %>
            <% if (detail) { %>
                <div class="ex3">
                <% detail.forEach(x => { %>
                    <% meme.Users.forEach(y => { %>
                        <% if (x.UserId === y.id) { %>
                        <p style="margin-bottom: 0px; margin-top: 20px;"><%= y.userName %>:</p>
                        <% } %>
                    <% }) %>
                        <p  class= "ex3" style="border: solid 1px black; border-radius: 5px; padding: 10px; padding-left: 5px; margin: 5px;"><%= x.comment %></p>
                        <p style="margin: 0px;"><%=timeSince(x.createdAt)%></p>
                        <% if (x.UserId === user.id) { %>
                            <div style="display: flex; margin-top: 0px;">
                                <form action="/meme/<%= meme.id %>">
                                    <button class="btn1" name="edit" value="<%= x.id %>">Edit</button>
                                </form>
                                <span style="color: white;">-</span>
                                <a href="/meme/<%= meme.id %>/delete/<%= x.id %>"><button class="btn2">Delete</button></a>
                            </div>
                        <% } %>
                <% }) %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>